*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

body{
    font-family: 'Poppins', sans-serif;
    background-color: #fff;
}

.navbar{
    background-color: #fff;
    color: #333333;
    box-shadow: 0px 6px 17px 0px rgba(0,0,0,0.75);;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top: 0;
    width: 100%;
    /* padding: 1rem 7%; */
    padding-inline: 20px;
    padding-block: 1rem;
}

.navbar h1{
    font-size: 1.7rem;
}

.navbar .nav-right{
    display: flex;
    align-items: center;
    gap: 1rem;
}

.navbar .nav-right .navbar-nav{
    display: none;
}

.navbar .nav-right .navbar-nav.active{
    position: absolute;
    background-color: #333333;
    width: 100%;
    top: 100%;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
    padding-block: 2rem;
}

.navbar .nav-right .navbar-nav a{
    color: #fff;
    font-size: 1.5rem;
}

.navbar .nav-right .navbar-nav a:hover{
    border-bottom: 1px solid #fff;
}

.navbar .nav-right .personal{
    display: flex;
    gap: 1rem;
}

.navbar .nav-right .personal a,
.navbar .nav-right .bars{
    font-size: 1.5rem;
    color: #333333;
}

@media (min-width: 450px) {
    
}